body {
    font-family: 'Source Code Pro', monospace;
    background-color: black;
    letter-spacing: 0.7px;
    color: white;
}

/* necessary for dark mode */
.iconColor {
    color: white;
}

.button {
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #ffffff;
        color: #000000;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    color: white;
    background-color: black;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    /*float: left;*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    display: inline-block;
    position: relative;

    &:hover {
        border-radius: 12%;
    }
}

.topnav a.active {
    color: white;
    font-weight: bold;

    &:hover {
        color: black;
    }
}

.topnav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.topnav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.topnav-right {
    float: right;
}

.lightmode-icon {
    border: none;
    background-color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.lightmode-icon:hover {
    transition: color 0.5s
}

.title {
    color: white;
    font-size: 110%
}

.description {
    color: white;
    padding-left: 43px;
}